body
{
	background-size: cover;
}


.container
{
	text-align: center;
	padding: 0px !important;

}

#middle td{
	background-color:rgba(255, 255, 255, 0.5);
	text-align: left;
}

.centeredelement
{
	margin-left: 10%;
	margin-right: 10%;
	padding: 150px;
}
